Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

Solution :

(i) string

In [1]:
my_string = "Hello, World!"

In [2]:
my_string

'Hello, World!'

(ii) list

In [3]:
my_list = [1, 2, 3, 4, 5]

In [4]:
my_list

[1, 2, 3, 4, 5]

(iii) float

In [5]:
my_float = 3.14

In [6]:
my_float

3.14

(iv) tuple

In [7]:
my_tuple = (10, 20, 30)

In [8]:
my_tuple

(10, 20, 30)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii) var2 = '[ DS , ML , Python]'

(iii) var3 = [ 'DS' , 'ML' , 'Python' ]

(iv) var4 = 1.

What will be the data type of the above given variable.

Solution :

(i) var1 is assigned a string with a space character hence will have string (str) data type

(ii) var2 is assigned a string that is used to represent a list, but it's enclosed in single quotes and contains spaces. Hence it will have string (str) data type

(iii) var3 is assigned a list containing string elements. Hence its data type is list

(iv) var4 is assigned a floating-point number (1.0 with a decimal point). Hence its data type is float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii) % 

(iii) //

(iv) **

Solution :

(i) / (Division Operator):

The / operator is used for division, and it returns a floating-point result.

In [10]:
result = 10 / 3
print(result)  # Output: 3.3333333333333335

3.3333333333333335

In this example, 10 divided by 3 results in a floating-point value, which is approximately 3.3333333333333335.

(ii) % (Modulus Operator):

The % operator calculates the remainder when one number is divided by another.

In [13]:
remainder = 10 % 3
print(remainder)  # Output: 1

1

Here, 10 divided by 3 leaves a remainder of 1.

(iii) // (Floor Division Operator):

The // operator is used for floor division, and it returns the largest integer less than or equal to the result of the division. It essentially discards the decimal part.

In [14]:
result = 10 // 3
print(result)  # Output: 3

3

In this case, 10 divided by 3 results in 3 with the decimal part discarded.

(iv) ** (Exponentiation Operator):

The ** operator is used for exponentiation, which means raising one number to the power of another.

In [15]:
result = 2 ** 3
print(result)  # Output: 8

8

Here, 2 raised to the power of 3 equals 8.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

Solution :

In [16]:
my_list = [1, "Hello", 3.14, True, [1, 2, 3], (4, 5), {"name": "Alice", "age": 30}, None, 7, False]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: (4, 5), Data Type: <class 'tuple'>
Element: {'name': 'Alice', 'age': 30}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: 7, Data Type: <class 'int'>
Element: False, Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

Solution :

In [29]:
# Input the values of A and B
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
C = A
D = B

# Initialize a count variable to keep track of divisions
count = 0

# Check if B is not zero (to avoid division by zero) and A is greater than or equal to B
if B != 0 and A >= B:
    while A % B == 0:
        A = A / B  # Update A by dividing it by B
        count += 1   # Increment the count for each successful division
    print(f"{count} times {D} can completely divide {C}.")
else:
    print("B should be nonzero and A should be greater than or equal to B for division to occur.")

Enter the value of A: 17
Enter the value of B: 2
0 times 2 can completely divide 17.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

Solution :

In [31]:
# Create a list containing 25 integers
my_list = [4, 9, 12, 7, 18, 30, 11, 21, 15, 8, 6, 33, 25, 14, 10, 3, 27, 22, 17, 19, 20, 2, 5, 13, 16]

# Iterate through the list and check if each element is divisible by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

4 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
30 is divisible by 3.
11 is not divisible by 3.
21 is divisible by 3.
15 is divisible by 3.
8 is not divisible by 3.
6 is divisible by 3.
33 is divisible by 3.
25 is not divisible by 3.
14 is not divisible by 3.
10 is not divisible by 3.
3 is divisible by 3.
27 is divisible by 3.
22 is not divisible by 3.
17 is not divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
2 is not divisible by 3.
5 is not divisible by 3.
13 is not divisible by 3.
16 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Solution :

Mutable and immutable data types refer to how data can be modified or changed in programming languages like Python.

Immutable Data Types:

Immutable data types are those whose values cannot be changed after they are created.

When you modify an immutable object, it actually creates a new object with the updated value, and the original object remains unchanged.

Immutable objects are typically safer to use in multi-threaded environments because they can't be modified by multiple threads simultaneously.

Common examples of immutable data types in Python include:

int (integers):

In [35]:
x = 5
x = x + 1  # Creates a new integer object with the value 6; x now references the new object.

In [36]:
x

6

float (floating-point numbers):

In [37]:
pi = 3.14159
pi = pi + 0.01  # Creates a new float object with the value 3.15159; pi now references the new object.

In [38]:
pi

3.1515899999999997

str (strings):

In [39]:
my_string = "Hello"
my_string = my_string + " World"  # Creates a new string object with the value "Hello World".

In [40]:
my_string

'Hello World'

Mutable Data Types:

Mutable data types are those whose values can be changed after they are created.

When you modify a mutable object, it is modified in place, and the same object is updated without creating a new one.

Mutable objects can be more memory-efficient when you need to make many changes to the same data structure.

Common examples of mutable data types in Python include:

list (lists):

In [41]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list by adding an element.

In [42]:
my_list

[1, 2, 3, 4]

dict (dictionaries):

In [43]:
my_dict = {"name": "Alice", "age": 30}
my_dict["age"] = 31  # Modifies the original dictionary by updating the 'age' key.

In [44]:
my_dict

{'name': 'Alice', 'age': 31}

set (sets):

In [45]:
my_set = {1, 2, 3}
my_set.add(4)  # Modifies the original set by adding an element.

In [46]:
my_set

{1, 2, 3, 4}